@import "tailwindcss";

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

*{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar{
    display: none;
}

